[Unit]
Description=webserver Daemon

[Service]
User=ec2-user
EnvironmentFile=/home/ec2-user/environment.env
WorkingDirectory=/home/ec2-user/webapp/
ExecStart=/home/ec2-user/webapp.sh

[Install]
WantedBy=multi-user.target