[Unit]
Description=index.js
After=cloud-final.service

[Service]
Type=simple
User=ec2-user
EnvironmentFile=-/etc/environment
WorkingDirectory=/home/ec2-user/
ExecStart=/usr/bin/node /home/ec2-user/index.js
Restart=on-failure
RestartSec=10
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=webservice-app

[Install]
WantedBy=cloud-init.target